body {
	width: 700px;
	margin: 40px auto;
}

.list-unstyled li{
	list-style: none;
	display: inline-block;
}

.menu {
	background-color: blue;
	height: 100px;
}

.menu-item {
 	padding: 20px 10px;
 	font-size: 30px;
 }

img {
	width: 50%;
 }
 /* AVOID SETTING HEIGHT */